// COLORS
$background: #18181b;
$lightBackground: #d4d4d4;
$accentBackground: #28282d;
$primaryColor: #e0e0e0;
$secondaryColor: #a2a2a2;
$highlightColor: #5496ff;

// SIZES
$borderRadius: 0.375rem;
$icon: 1.125rem;
$smallText: 0.875rem;

body {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0 1rem;
  margin: 0 auto;
  color: $primaryColor;
  background-color: $background;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

  a {
    color: $primaryColor;
  }

  .menu-item:not(:last-child) {
    margin-right: 0.75rem;
  }
}

main {
  flex: 1;
  margin: 2rem 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 3rem;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  font-size: $smallText;
  color: $secondaryColor;

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.25rem;
  }
}

a {
  color: $secondaryColor;
  text-decoration: none;
  transition: ease-in-out;
  transition-duration: 0.2s;
  transition-property: color, background-color;

  &:hover {
    color: $highlightColor;
  }
}

i {
  font-size: $icon;
}

.tag {
  &-headline {
    margin-top: 0;
  }

  &-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      padding: 0.2rem 0.4rem;
      border-radius: $borderRadius;
      font-weight: 500;
      color: $background;
      background-color: $primaryColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: $highlightColor;
      }
    }
  }
}

.post {
  &-info {
    h2 {
      margin: 0;

      a:not(:hover) {
        color: $primaryColor;
      }
    }
  }

  &-entry {
    margin-bottom: 1.5rem;
  }

  &-data {
    font-size: $smallText;
    color: $secondaryColor;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;

    > a:not(:last-child) {
      margin-right: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-content {
    /* :has() unfortunately doesn't work in Firefox at the moment (unless it was
    explicitly activated by the user), but this is just a workaround anyway. */
    ul:has(li):has(input[type="checkbox"]) {
      padding-left: 1rem;
      list-style: none;
    }

    a {
      color: $highlightColor;

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      margin: 2rem 0;
      border: 0;
      border-top: 1px solid $accentBackground;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      margin: 1rem 0;
      padding: 1rem;
      border-left: 1px solid $secondaryColor;
      font-style: italic;
      color: $secondaryColor;

      p {
        margin: 0;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        text-align: left;
      }

      th,
      td {
        padding: 0.5rem;
      }

      thead,
      tr:nth-child(even) {
        background-color: $accentBackground;
      }
    }

    figure {
      margin: 1rem 0;

      p {
        margin: 0;
        font-size: $smallText;
        color: $secondaryColor;
      }
    }

    pre {
      margin: 1rem 0;
      padding: 1rem;
      border-radius: $borderRadius;
      overflow-y: scroll;
    }

    code {
      font-size: 0.875rem;
    }

    :not(pre) > code {
      padding: 0.2rem 0.2rem 0.1rem 0.2rem;
      color: #ea8b92;
      background-color: #38252a;
    }
  }
}

.alert {
  margin: 1rem 0;
  padding: 1rem;
  color: $background;
  border-radius: $borderRadius;
  font-weight: 500;

  a {
    color: $background;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h3,
  p {
    margin: 0;
  }

  &-info {
    background-color: #a49937;
  }

  &-update {
    background-color: #3e803e;
  }

  &-error {
    background-color: #a33541;
  }
}
