// COLORS
$background: #18181b;
$lightBackground: #d4d4d4;
$accentBackground: #28282d;
$primaryColor: #e0e0e0;
$secondaryColor: #a2a2a2;
$highlightColor: #5496ff;

// SIZES
$borderRadius: 0.375rem;
$icon: 1.125rem;
$smallText: 0.875rem;

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
  visibility: visible;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0 1rem;
  margin: 0 auto;
  color: $primaryColor;
  background-color: $background;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

  a {
    color: $primaryColor;
  }

  nav {
    display: flex;
  }

  .menu-item {
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }

    svg:hover {
      fill: $highlightColor;
    }
  }
}

main {
  flex: 1;
  margin: 2rem 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 3rem;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  font-size: $smallText;
  color: $secondaryColor;

  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.25rem;
  }
}

a {
  color: $secondaryColor;
  text-decoration: none;

  &:hover {
    color: $highlightColor;
  }
}

.icon {
  height: $icon;
  min-width: $icon;
  fill: $primaryColor;
}

.tag {
  &-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      padding: 0.2rem 0.4rem;
      border-radius: $borderRadius;
      font-weight: 500;
      color: $background;
      background-color: $primaryColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: $highlightColor;
      }
    }
  }
}

.post {
  &-info {
    h2 {
      margin: 0;

      a:not(:hover) {
        color: $primaryColor;
      }
    }
  }

  &-entry {
    margin-bottom: 1.5rem;
  }

  &-data {
    font-size: $smallText;
    color: $secondaryColor;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;

    > a:not(:last-child) {
      margin-right: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-content {
    /* :has() unfortunately doesn't work in Firefox at the moment (unless it was
    explicitly activated by the user), but this is just a workaround anyway. */
    ul:has(li):has(input[type="checkbox"]) {
      padding-left: 1rem;
      list-style: none;
    }

    h1,
    h2,
    h3,
    h4 {
      a {
        color: $primaryColor;

        &:hover {
          text-decoration: none;

          &::after {
            margin-left: 0.5rem;
            content: "#";
          }
        }
      }
    }

    a {
      color: $highlightColor;

      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      margin: 2rem 0;
      border: 0;
      border-top: 1px solid $accentBackground;
    }

    img,
    video {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      max-height: 36rem;
    }

    blockquote {
      margin: 1rem 0;
      padding: 1rem;
      border-left: 1px solid $secondaryColor;
      font-style: italic;
      color: $secondaryColor;

      p {
        margin: 0;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        text-align: left;
      }

      th,
      td {
        padding: 0.5rem;
      }

      thead,
      tr:nth-child(even) {
        background-color: $accentBackground;
      }
    }

    figure {
      margin: 1rem 0;

      p {
        margin: 0;
        font-size: $smallText;
        color: $secondaryColor;
      }
    }

    pre {
      margin: 1rem 0;
      padding: 1rem;
      border-radius: $borderRadius;
      overflow-y: scroll;
    }

    code {
      font-size: 0.875rem;
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;

      /* Fixes iOS font sizing anomaly
      Source: https://github.com/adityatelange/hugo-PaperMod/issues/828#issuecomment-1171994855 */
      text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    :not(pre) > code {
      color: #ef8383;
    }
  }
}

.alert {
  margin: 1rem 0;
  padding: 1rem;
  color: $background;
  border-radius: $borderRadius;
  font-weight: 500;

  h3,
  p {
    margin: 0;
  }

  h3 {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5rem;

    svg {
      margin-right: 0.5rem;
    }
  }

  &-info {
    color: #c4e4f4;
    background-color: #3e6071;

    svg {
      fill: #c4e4f4;
    }
  }

  &-update {
    color: #b0f0b0;
    background-color: #3f663f;

    svg {
      fill: #b0f0b0;
    }
  }

  &-error {
    color: #ec9ea6;
    background-color: #75272f;

    svg {
      fill: #ec9ea6;
    }
  }
}

.toc {
  margin: 1rem 0;
  border-radius: $borderRadius;
  color: $primaryColor;
  background-color: $accentBackground;

  a {
    color: $primaryColor;

    &:hover {
      color: $highlightColor;
    }
  }

  summary {
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    padding: 0 1rem 1rem 0;
  }

  ul {
    margin: 0;
    padding-left: 2.875rem;
  }

  li > ul {
    padding-left: 1.5rem;
  }
}

.mate {
  margin: 0.75rem 0;
  font-weight: bold;

  &-rating {
    display: inline-flex;

    svg {
      fill: #eaea4e;
    }
  }
}

.heading {
  margin-top: 0;
}
