<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} / {{.Site.Title}}{{ end }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ $styles := resources.Get "scss/styles.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{$styles.Permalink}}">
    <link href="{{"fontawesome/css/fontawesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"fontawesome/css/brands.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"fontawesome/css/solid.min.css" | relURL}}" rel="stylesheet">
  </head>
  <body>
    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
  </body>
</html>
